body {
    font-family: Arial, sans-serif;
    background-color: #f0f3f5;
  }
  
  .container {
    max-width: 450px;
    margin: 100px auto;
    padding: 200px;
    background-color: #a5b3ff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input {
    width: 95%;
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #012955;
    color: #f7f6f6;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #87b5e7;
  }
  
  p {
    margin-top: 20px;
    text-align: center;
  }